<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

    <div class="container">
        <div class="jumbotron">
            <br>
            <h1 class="display-5"><strong>Bem-vindo(a) ao painel administrativo Asilo!</strong></h1>
            <p class="lead">Através desse painel é possível listar as tabelas de idosos, funcionarios, visitas, voluntarios, estoque e doadores.</p>
            <hr class="my-4">
            <p class="currentDate"></p>        
            <!-- <p class="lead">
              <a class="btn btn-info btn-lg" href="/estoque" role="button">Verificar estoque</a>
            </p> -->
          </div>
        <hr>
        <div class="card">
            <div class="card-header">
                <h1>Para onde deseja ir?</h1>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/idosos">Idosos</a></li>
                    <li><a href="/funcionarios">Funcionarios</a></li>
                    <li><a href="/estoques">Estoque</a></li>
                    <li><a href="/doadores">Doadores</a></li>
                    <li><a href="/visitas">Visitas</a></li>
                    <li><a href="/voluntarios">Voluntarios</a></li>
                </ul>
            </div>
        </div>
    </div>
    
<%- include ('partials/footer.ejs') %>
